.body {
  font-family: "Lato", sans-serif;
  display: flex;
  padding-top: 60px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
}
