.btn {
  background: var(--secondary);
  color: var(--pure);
  outline: none;
  padding: 8px 20px;
  font-size: 14px;
  cursor: pointer;
  letter-spacing: 1px;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}

.btn a {
  color: var(--pure);
  text-decoration: none;
}

.btn:hover {
  border-image: linear-gradient(to right, #1c64ff, #ffff, #1d8a99) 1;

  background: transparent;
  border-color: var(--pure);
  color: #fff;
}
.btn-link {
  background: var(--secondary);
  color: var(--pure);
  outline: none;
  padding: 8px 20px;
  font-size: 14px;
  cursor: pointer;
  letter-spacing: 1px;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}

.btn-link:hover {
  border-image: linear-gradient(to right, #1c64ff, #ffff, #1d8a99) 1;
  background: transparent;
  border-color: var(--pure);
  color: #fff;
}
